@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}
h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #ffffff;
      font-size: 80px;
      font-weight: 900;
    color: #ffffff;
      margin: 0;
      letter-spacing: -2px;
    text-align: center;
}
header{
    background-color: #d50032;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}